@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="font-family: cursive;">Welcome</h1>
    <p style="font-family: cursive;font-size: 20px;">
        To PageLightPrime Solutions Pvt Ltd
    </p>
</div>
